# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
/ws/var/etc/auth.php
/ws/var/log/
/system/controles/main/controls/config.php
/system/controles/main/controls/action/
/system/controles/main/controls/formularios/action/
/craosframework/send/action/
/craosframework/recordset/EtiquetaA4249.php
/craosframework/send/send.php
/system/controles/main/controls/def.php
