html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-size: 14px;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    color: #404040;
}

.header-logo {
    width: 137px;
    height: 50px;
    float: left;
    background-image: url("../img/logo.png");
    margin-top: 5px;
    margin-left: 5px;
}

.header-unidade {
    float: left;
    margin-left: 20px;
    line-height: 64px;
    display: none;
}

.header-unidade-titulo {
    font-weight: initial;
    padding-left: 10px;
    padding-right: 3px;
}

.header-unidade-valor {
    color: #7c7c7c;
}

.header-userinfor {
    float: right;
    margin: 5px;
    padding-right: 5px;
}


.mainmenu-titulo {
    line-height: 24px;
    margin-left: 5px;
    margin-top: 0;
    font-weight: 400;
    white-space: normal;
    font-size: 14px;
    color: #404040;
    float: left;
}

.mainmenu-linha {
    height: 29px;
}

.mainmenu-icone {
    float: left;
}

.pesquisar-linha {
    height: auto;
}

.linha {
    width: 100%;
    display: inline-block;
}

.campo {
    color: #000;
}

.esquerda {
    float: left;
}

.valor {
    color: #7c7c7c;
}

/***** DHTML Custom ****/
.dhxform_obj_material div.dhxform_btn {
    border: none;
    background: none;
    font-weight: lighter;
    border-radius: 6px;
}

.dhxform_obj_material div.dhxform_btn.dhxform_btn_over {
    background-color: rgba(30, 144, 255, 0.14);
}

.btnsmart {
    font-family: Roboto, Arial, Helvetica, sans-serif;
    color: dodgerblue;
}

.azulescuro {
    color: #1e88cf;
}

video {
    margin: 2% 0 0;
    --width: 100%;
    width: var(--width);
    height: calc(var(--width) * 0.95);
}

#cvfoto {
    margin: 2% 0 0;
    --width: 100%;
    width: var(--width);
    height: calc(var(--width) * 0.95);
}