html, body {
    margin: 0;
    padding: 0;
    font-family: "Segoe UI Normal", Arial, Tahoma, sans-serif;
}

a {
    color: #003366;
}

a:hover {
    color: #003366;
}

a:visited {
    color: #003366;
}

a:active {
    color: #ff671f;
}

#top {
    height: 50px;
    background: #fff url("img/bg-top.png");
    -webkit-box-shadow: 0 2px 5px 0 #888;
    -moz-box-shadow:    0 2px 5px 0 #888;
    box-shadow:         0 2px 5px 0 #888;
    background-size: 1250px 150px;
    background-position: 0 -20px;
}

#logo {
    height: 50px;
    width: 250px;
    float: left;
}

#imglogo {
    width: inherit;
    height: inherit;
    background: url("img/anima.png");
    background-position: center;
    background-repeat: no-repeat;
}

.menu-superior {
    float: right;
    height: 30px;
    width: auto;
    border-right: 1px solid #ddd;
    line-height: 30px;
    left: 55%;
    padding-left: 35px;
    padding-right: 32px;
    margin-top: 10px;
    cursor: pointer;
    text-align: center;
    color: #666;

}

.menu-superior:hover {
    color: #ff671f;
}

#menu-saida {
    background: url("img/main/sair.png");
    background-repeat: no-repeat;
    background-position: 10px center;
}
#menu-usuario {
    background: url("img/main/usuario.png");
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: 10px center;
}
#menu-central {
    background: url("img/main/central.png");
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: 10px center;
}

#menu-alternar {
    background: url("img/main/alternar.png");
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: 10px center;
}

#roadmap {
    margin-top: 5px;
    height: 25px;
    width: 100%;
    background-color: #F9F9F9;
    border-bottom: 1px solid #ddd;
}

#usuario_corrente {
    float: right;
    margin-right: 20px;
    font-size: 12px;
    line-height: 25px;
}

#menu_principal {
    float: left;
    margin-left: 20px;
    font-size: 12px;
    line-height: 25px;
}

#menu_principal a {
    text-decoration: none;
    margin-right: 20px;
    cursor: pointer;
}

#center {
    margin-top: 30px;
}

.block {
    display: table;
}

div.gridbox_light table.obj tr.rowselected td.cellselected, div.gridbox table.obj td.cellselected {
    background-color: #ACCADD;
}

.nul {
    background-color: rgba(199, 223, 252, 0.40);
    line-height: 27px;
    border: 1px solid #e8e8e8;
    border-right-width: 0;
    border-left-width: 0;

}

.standartTreeRow {
    line-height: 8px;
}

#retorna_menu {
    cursor: pointer;
}

#teste {
    color: #0060ff;
}

.monitor_pedestre-acess-titulo {
    color: rgb(59, 89, 152);
    direction: ltr;
    display: inline;
    font-family: Helvetica, Arial, 'lucida grande', tahoma, verdana, arial, sans-serif;
    font-size: 13px;
    font-weight: 100;
    height: auto;
    line-height: 13px;
    list-style-type: none;
    text-align: left;
    text-decoration: none;
    width: auto;
    zoom: 1;
}

.monitor_pedestre-acess-item {
    color: rgb(24, 37, 62);
    direction: ltr;
    display: inline;
    font-family: Helvetica, Arial, 'lucida grande', tahoma, verdana, arial, sans-serif;
    font-size: 10px;
    font-weight: 100;
    height: auto;
    line-height: 10px;
    list-style-type: none;
    text-align: left;
    text-decoration: none;
    width: auto;
    zoom: 1;
}