.opcao {
    width: 280px;
    height: 80px;
}

.item_esquerda {
    width: 214px;
    height: 32px;
    border-bottom: 1px solid #ccc;
    font-size: 11px;
    padding-top: 5px;
    cursor: pointer;
}

.opcao {
    border: 1px solid #ccc;
    font-size: 11px;
    cursor: pointer;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    padding-right: 10px;
}

.opcao:hover, .item_esquerda:hover {
    background-color: #e8f2fe;
}

.item_esquerda img {
    width: 16px;
    margin-right: 5px;
    margin-left: 10px;
    margin-top: 7px;
    float: left;
    border: 0;
}

.opcao img {
    margin: 10px;
    width: 40px;
    float: left;
    border: 0;
}

.opcao p, .opcao_esquerda p {
    font-weight: bold;
    color: #ff671f;
}

#center {
    margin-top: 30px;
}

.block {
    display: table;
}

#situacao_condominio {
    font-size: 11px;
}

#situacao_condominio tr td {
    height: 23px;
    color: #666;
    border-bottom: 1px solid #eee;
}

#situacao_condominio tr td.item-meu-condominio {
    color: #003366;
    text-align: right;
    font-weight: bold;
    font-size: 11px;
}
