<tr>
    <td colspan="2" style="border-bottom: 1px solid #d3d3d3; text-align: center; color: #4c97d4; font-weight: 800; font-family: Calibri, sans-serif; padding-top: 30px; padding-bottom: 10px;">Despesas</td>
</tr>
<tr>
    <td colspan="2">
        <table border="0" width="100%" cellspacing="0" cellpadding="5">
            <tr>
                <td width="300" style="background-color: #f8f8f8; border-bottom: 1px solid #d3d3d3; text-align: left; color: #4c97d4; font-weight: 800; font-family: Calibri, sans-serif;">Componente</td>
                <td width="100" style="background-color: #f8f8f8; border-bottom: 1px solid #d3d3d3; text-align: center; color: #4c97d4; font-weight: 800; font-family: Calibri, sans-serif;">Quantidade</td>
                <td width="100" style="background-color: #f8f8f8; border-bottom: 1px solid #d3d3d3; text-align: left; color: #4c97d4; font-weight: 800; font-family: Calibri, sans-serif;">Valor</td>
                <td width="100" style="background-color: #f8f8f8; border-bottom: 1px solid #d3d3d3; text-align: left; color: #4c97d4; font-weight: 800; font-family: Calibri, sans-serif;">Total</td>
            </tr>
            $linha_despesas $iftl
        </table>
    </td>
</tr>
