<tr>
    <td width="300" style="background-color: #f8f8f8; border-bottom: 1px solid #d3d3d3; text-align: left; color: #4c97d4; font-weight: 800; font-family: Calibri, sans-serif;">Total</td>
    <td width="100" style="background-color: #f8f8f8; border-bottom: 1px solid #d3d3d3; text-align: center; color: #4c97d4; font-weight: 800; font-family: Calibri, sans-serif;">&nbsp;</td>
    <td width="100" style="background-color: #f8f8f8; border-bottom: 1px solid #d3d3d3; text-align: left; color: #4c97d4; font-weight: 800; font-family: Calibri, sans-serif;">&nbsp;</td>
    <td width="100" style="background-color: #f8f8f8; border-bottom: 1px solid #d3d3d3; text-align: left; color: #4c97d4; font-weight: 800; font-family: Calibri, sans-serif;">$t</td>
</tr>