<tr>
    <td style="border-bottom: 1px solid #ccc; padding-top: 30px; padding-bottom: 30px;" colspan="2">
        <table border="0">
            <tr>
                <td style="width: 100px; text-align: left;">$situacao</td>
            </tr>
            <tr>
                <td style="width: 100px; text-align: right;"><span style="font-weight: 600; font-family: Calibri, sans-serif; text-align: right;">Nº</span></td>
                <td><span style="color: red; font-size: large; font-weight: bold; font-family: Calibri, sans-serif;">$num</span></td>
            </tr>
            <tr>
                <td style="width: 100px; text-align: right;"><span style="font-weight: 600; font-family: Calibri, sans-serif; text-align: right;">Título:</span></td>
                <td><span style="font-size: large; font-weight: 300; font-family: Calibri, sans-serif;">$titulo</span></td>
            </tr>
            <tr>
                <td style="width: 100px; text-align: right;"><span style="font-weight: 600; font-family: Calibri, sans-serif; text-align: right;">Solicitante:</span></td>
                <td><span style="font-size: large; font-weight: 300; font-family: Calibri, sans-serif;">$solicitante</span></td>
            </tr>
            <tr>
                <td style="width: 100px; text-align: end;"></td>
                <td style="padding-bottom: 30px; padding-top: 30px;">
                    <table style="min-height: 150px; width: 800px;" border="0">
                        <tr>
                            <td><span style="font-weight: 600; font-family: Calibri, sans-serif;">Resumo da solicitação</span></td>
                        </tr>
                        <tr>
                            <td width="50%">
                                <span style="font-size: medium; font-weight: 300; font-family: Calibri, sans-serif; color: #4c4d4d">$solicitacao</span>
                            </td>
                        </tr>
                        <tr>
                            <td style="padding-top: 30px;"><span style="font-weight: 600; font-family: Calibri, sans-serif;">Relatório de atendimento técnico</span></td>
                        </tr>
                        <tr>
                            <td width="50%">
                                <span style="font-size: medium; font-weight: 300; font-family: Calibri, sans-serif; color: #4c4d4d">$relatorio</span>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td colspan="2" style="border-bottom: 1px solid #d3d3d3; text-align: center; color: #4c97d4; font-weight: 800; font-family: Calibri, sans-serif; padding-top: 30px; padding-bottom: 10px;">Registro da Operação</td>
            </tr>
            <tr>
                <td colspan="2">
                    <table border="0" width="100%" cellspacing="5" cellpadding="5">
                        <tr>
                            <td width="100" style="text-align: center; color: #4c97d4; font-weight: 800; font-family: Calibri, sans-serif;">Data Abertura</td>
                            <td width="100" style="text-align: center; color: #4c97d4; font-weight: 800; font-family: Calibri, sans-serif;">Horário Abertura</td>
                            <td width="100" style="text-align: center; color: #4c97d4; font-weight: 800; font-family: Calibri, sans-serif;">Início atendimento</td>
                            <td width="100" style="text-align: center; color: #4c97d4; font-weight: 800; font-family: Calibri, sans-serif;">Horário início</td>
                            <td width="100" style="text-align: center; color: #4c97d4; font-weight: 800; font-family: Calibri, sans-serif;">Final atendimento</td>
                            <td width="100" style="text-align: center; color: #4c97d4; font-weight: 800; font-family: Calibri, sans-serif;">Horário final</td>
                        </tr>
                        <tr>
                            <td style="text-align: center; font-family: Calibri, sans-serif;">$data_abertura</td>
                            <td style="text-align: center; font-family: Calibri, sans-serif;">$horario_abertura</td>
                            <td style="text-align: center; font-family: Calibri, sans-serif;">$data_inicio_atendimento</td>
                            <td style="text-align: center; font-family: Calibri, sans-serif;">$horario_inicio_atendimento</td>
                            <td style="text-align: center; font-family: Calibri, sans-serif;">$data_finalizacao</td>
                            <td style="text-align: center; font-family: Calibri, sans-serif;">$horario_finalizacao</td>
                        </tr>
                    </table>
                </td>
            </tr>
            $ifdsp
        </table>
    </td>
</tr>